<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046907310985-f49h5ghug3m89195k3sdutmrk3njc8u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046907310985-f49h5ghug3m89195k3sdutmrk3njc8u0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046907310985-h181apktkirmfcr0fji2l0jiahlp6dc1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaycydF8ziMt6Cj1UBN3P_Gls63o1IaC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1046907310985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armankaspe.armanfirebase2</string>
	<key>PROJECT_ID</key>
	<string>kapse-ride-share</string>
	<key>STORAGE_BUCKET</key>
	<string>kapse-ride-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046907310985:ios:6559d2abc77b8065e70758</string>
	<key>DATABASE_URL</key>
	<string>https://kapse-ride-share-default-rtdb.firebaseio.com</string>
</dict>
</plist>