<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873681671975-d0nm6nl7vgq3jpfrqbgjt3cja0o2hagg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873681671975-d0nm6nl7vgq3jpfrqbgjt3cja0o2hagg</string>
	<key>API_KEY</key>
	<string>AIzaSyDAmXwVIf5BMZAsB8mmsLQgJ-umNaJMPz8</string>
	<key>GCM_SENDER_ID</key>
	<string>873681671975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armankaspe.armanfirebase2</string>
	<key>PROJECT_ID</key>
	<string>practise-4f62b</string>
	<key>STORAGE_BUCKET</key>
	<string>practise-4f62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873681671975:ios:702f0e76315af9e59efb02</string>
</dict>
</plist>